{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Home{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="home" %}
{% endblock %}

{% block navbar-right %}
  {% if not user.is_authenticated %}
<a class="btn btn-default" href="{% url 'accounts:login' %}" role="button">Log in</a>
<a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up</a>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block splash %}
  <div class="jumbotron jumbotron-carousel corporate-jumbo">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-8">
          <h1>{% include "_brandname.html" %}</h1>
          <p>Let the hero rise from you. #ProveYourself with the skills you have.</p>
	  <a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up for Free!</a>
        </div>
        <div class="col-md-4 col-sm-4">

        </div>
      </div>
    </div>
  </div>
{% endblock splash %}

{% block container %}
<!-- Benefits of the Django application -->
<a name="about"></a>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h2>ORGANIZE & HELP</h2>
      <p>Join the Campus Ambassador Program and get credit .</p>
      <!--<p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>-->
    </div>
    <div class="col-lg-4">
      <h2>COMMUNITIES</h2>
      <p>Build your learning network and elevate your career prospects by following communities and participating in their activities.</p>
      <!--<p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>-->
    </div>
    <div class="col-lg-4">
      <h2>PROFILE</h2>
      <p>Highlight your path to proficiency using the Experience Graph and have the communities that follow your journey be inspired by your experience.</p>
      <!--<p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>-->
    </div>
  </div>
</div>

{% endblock container %}

{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>
{% endblock scripts %}

